{% macro note(content, title="") %}
    <div class="note">
        <div class="note-header">
            {{ title | safe }}
        </div>
        <div class="note-content">
            {{ content | markdown | safe }}
        </div>
    </div>
{% endmacro %}